{% load static %}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Like Estampa 2021</p>
        <br />
        <div class="text-center">
            <a class="btn btn-primary" href="https://www.facebook.com/likeestampa"> <i class="fab fa-facebook"></i> Facebook</a>
            <a class="btn btn-danger" href="https://www.instagram.com/likeestampa/"><i class="fab fa-instagram"></i> Instagram</a>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>