{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container py-3">

    <h3> <span class="badge bg-secondary">#{{ cliente.peoplesoft_id }}</span> {{ cliente.user.first_name }} </h3>
    <h4>CPF: {{ cliente.cpf }}</h4>

    <div class="row">
        <div class="col-md-6">
            {% if not pedidos %}
            <h3> você não possui pedido </h3>
            {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Data Compra</th>
                        <th scope="col">Status</th>
                        <th scope="col">Detalhes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr>
                        <th scope="row">{{ pedido.id }}</th>
                        <td>{{ pedido.created_at }}</td>
                        <td>
                            {% if pedido.pago %}
                            <p class="fw-light">Preparando</p>
                            {% else %}
                            <p class="fw-light">Não pago</p>
                            {% endif %}
                        </td>
                        <td> <a href="{% url 'pedido:pedido' pedido.id %}"> ver mais </a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>

        <div class="col-md-6">

            {{ form.source }}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Seus dados</h5>
                    <h6 class="card-subtitle mb-2 text-muted">CPF: {{ form.cpf.value }}</h6>
                    <p class="card-text">
                        Nome:<b> {{ form.nome.value }} </b> <br />
                        Sobrenome:<b> {{ form.nome.value }} </b> <br />
                        Email:<b> {{ form.email.value }}</b>
                    </p>
                    <a href="#" class="card-link">Alterar</a>
                    <a href="#" class="card-link">Alterar senha</a>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Endereços</h5>
                    <h6 class="card-subtitle mb-2 text-muted">CEP: {{ form.cep.value }}</h6>
                    <p class="card-text">
                        Cidade: <b>{{ form.cidade.value }} - {{ form.uf.value }} </b> <br />
                        Endereço: <b>{{ form.endereco.value }}, {{ form.numero.value }} </b> <br />
                        Bairro: <b>{{ form.bairro.value }} </b> <br />
                        Complemento: <b>{{ form.complemento.value }} </b> <br />
                        Referencia: <b>{{ form.referencia.value }} </b> <br />

                    </p>
                    <a href="#" class="card-link">Adicionar outro</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}