{% extends 'base.html' %}

{% load widget_tweaks %}

{% block css %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
{% endblock %}

{% block js_header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#btnBuscaCep").click(function () {
            var cep = $('#id_cep').val().replace("-", "");
            var urlCep = 'https://viacep.com.br/ws/' + cep + '/json/';

            $.ajax({
                url: urlCep,
                success: function (result) {
                    $('#id_cep').val(cep);
                    $('#id_endereco').val(result.logradouro);
                    $('#id_bairro').val(result.bairro);
                    $('#id_uf').val(result.uf);
                    $('#id_cidade').val(result.localidade);
                }
            });
        });

        jQuery.fn.ForceNumericOnly =
            function () {
                return this.each(function () {
                    $(this).keydown(function (e) {
                        var key = e.charCode || e.keyCode || 0;
                        // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                        // home, end, period, and numpad decimal
                        return (
                            key == 8 ||
                            key == 9 ||
                            key == 13 ||
                            key == 46 ||
                            key == 110 ||
                            key == 190 ||
                            (key >= 35 && key <= 40) ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    });
                });
            };

        $("#id_cpf").ForceNumericOnly();
        $("#id_cep").ForceNumericOnly();
    });
</script>
{% endblock %}

{% block content %}
<div class="container py-4">

    <h2>Seja muito bem vindo! Faça seu cadastro</h2>
    <form method="post" class="col-md-9 needs-validation" novalidate>
        {% csrf_token %}
        {{ form.source }}
        {% if form.errors %}
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
            </svg>
            {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                        {{ error }}
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="row g-2">


            <div class="col-sm-3">
                <label for="cpf" class="form-label">CPF</label>
                {% render_field form.cpf class="form-control" placeholder="CPF ..." %}
                <div class="invalid-feedback">
                    Informe um CPF válido
                </div>
            </div>

            <div class="col-sm-4">
                <label for="nome" class="form-label">Nome</label>
                {% render_field form.nome class="form-control" placeholder="Nome ..." %}
                <div class="invalid-feedback">
                    Verifique o nome
                </div>
            </div>
            <div class="col-sm-5">
                <label for="sobrenome" class="form-label">Sobrenome</label>
                {% render_field form.sobrenome class="form-control" placeholder="Sobrenome ..." %}
                <div class="invalid-feedback">
                    Verifique o sobrenome
                </div>
            </div>

                        
            <div class="col-3">
                <label for="email" class="form-label">Sexo </label>
                {% render_field form.sexo class="form-control" %}
                <div class="invalid-feedback">
                    Por favor insira um email valido
                </div>
            </div>

            <div class="col-9">
                <label for="email" class="form-label">Email </label>
                {% render_field form.email class="form-control" placeholder="seuemail@exemplo.com" %}
                <div class="invalid-feedback">
                    Por favor insira um email valido
                </div>
            </div>

            <div class="col-md-3">
                <label for="cep" class="form-label">CEP</label>
                <div class="input-group col-md-3">
                    {% render_field form.cep class="form-control" placeholder="Seu CEP ..." %}
                    <span class="input-group-btn">
                        <button id="btnBuscaCep" name="btnBuscaCep" class="btn btn-info" type="button">
                           <i class="bi bi-search"></i>
                        </button>
                    </span>
                </div>
                <div class="invalid-feedback">
                    CEP obrigatório
                </div>
            </div>

            <div class="col-md-7">
                <label for="cidade" class="form-label">Cidade</label>
                {% render_field form.cidade class="form-control" placeholder="Cidade ..." %}
                <div class="invalid-feedback">
                    Por favor insira uma cidade
                </div>
            </div>

            <div class="col-md-2">
                <label for="uf" class="form-label">Estado</label>
                {% render_field form.uf class="form-control" placeholder="UF ..." %}
                <div class="invalid-feedback">
                    Informe UF
                </div>
            </div>

            <div class="col-2">
                <label for="numero" class="form-label">Numero</label>
                {% render_field form.numero class="form-control" placeholder="numero ..." %}

                <div class="invalid-feedback">
                    Por favor informe o numero
                </div>
            </div>

            <div class="col-10">
                <label for="bairro" class="form-label">Bairro</label>
                {% render_field form.bairro class="form-control" placeholder="bairro ..." %}
                <div class="invalid-feedback">
                    Por favor informe o bairro
                </div>
            </div>

            <div class="col-8">
                <label for="endereco" class="form-label">Endereço</label>
                {% render_field form.endereco class="form-control" placeholder="endereco ..." %}
                <div class="invalid-feedback">
                    Por favor informe o endereço
                </div>
            </div>

            <div class="col-4">
                <label for="complemento" class="form-label">Complemento</label>
                {% render_field form.complemento class="form-control" placeholder="Ex: AP11, BLOCO C, Quadra D ..." %}
            </div>

            <div class="col-12">
                <label for="referencia" class="form-label">Referencia</label>
                {% render_field form.referencia class="form-control" placeholder="Ponto de referencia ..." %}
            </div>

            <div class="col-5">
                <label for="telefone" class="form-label">Tel. numero</label>
                {% render_field form.telefone class="form-control" placeholder="telefone numero ..." %}
            </div>

            <div class="col-4">
                <label for="password1" class="form-label">Senha de acesso</label>
                {% render_field form.password1 class="form-control" placeholder="Senha" %}
                <div class="invalid-feedback">
                    Verifique a senha
                </div>
            </div>
        </div>

        <br />

        <button class="btn btn-success" type="submit">Cadastrar</button>
    </form>
</div>
{% endblock %}

{% block js_footer %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}