{% extends "base.html" %}

{% block content %}
<div class="container py-4">

    <h3 class="display-5"> Cliente: {{ cliente.user.first_name }} </h3>
    <h4> CPF: {{ cliente.cpf }} </h4>

    <hr />

    <h3>
        <span class="badge rounded-pill bg-info">Produtos: {{ valor_carrinho }}</span> +
        <span class="badge rounded-pill bg-secondary">Frete: {{ valor_frete }}</span> =
        <span class="badge rounded-pill bg-success">R$ {{ valor_total }}</span>
    </h3>

    <hr />
    <div class="cho-container">
    </div>

    <br />
    {% include "pagamento/includes/for_items.html" %}


</div>
{% endblock %}

{% block js_footer %}
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script>
    const mp = new MercadoPago('{{ MERCADO_PAGO_PUBLIC_KEY }}', {
        locale: 'pt-BR'
    });

    mp.checkout({
        preference: {
            id: '{{ MERCADO_PAGO_PREFERENCE_ID }}'
        },
        render: {
            container: '.cho-container', // Indica onde o botão de pagamento será exibido
            label: 'Finalizar compra! (R$ {{ valor_total }})', // Muda o texto do botão de pagamento (opcional)
        }
    });
</script>
{% endblock %}