{% extends "base.html" %}

{% block content %}

<div class="col-lg-9">

    <div class="row">
        <h2>Mostrando categoria: <span class="badge bg-info">{{ sub_categoria_selecionada }}</span></h2>
        <br />
        {% for prod in object_list %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        {{ prod.nome }}
                    </h5>
                    <h5 class="text-success"">R$ 24.99</h5>
                    <span class="badge bg-info">{{ prod.subcategoria }}</span>
                    <p class="card-text">{{ prod.descricao }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>
        {% endfor %}        
    </div>
</div>

{% endblock %}