{% load widget_tweaks %}

{% block js_header %}
    <script>
        function escondeTamanhos() {
            $(".tamanho-visible").hide();
        }
    
        function mostrarTamanhosDoModelo(modelo_slug) {
            escondeTamanhos();
            
            for (let tamanho = 0; tamanho < tamanhos.length; tamanho++) {
                const element = tamanhos[tamanho];
                
                const elementRadio = "#" + element.slug;
                const elementLabel = "#label-" + element.slug;
                
                $(elementRadio).show();
                $(elementLabel).show();
            }            
            
        }
    </script>
{% endblock %}

<div class="text-center">
    Selecione o tamanho:
    <br />

    {% for tamanho in tamanhos %}
        {% render_field form.tamanho value=tamanho.slug id=tamanho.slug type="radio" class="btn-check tamanho-visible"%}
        <label id="label-{{ tamanho.slug }}" class="tamanho-visible btn btn-outline-danger" for="{{ tamanho.slug }}" onclick="botaoCarrinhoSpinnerShowHide(true, false);" >
            {{ tamanho.descricao_cliente }}
        </label>
    {% endfor %}
</div>