{% extends "base.html" %}

{% load widget_tweaks %}

{% block js_header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#btnBuscaCep").click(function () {
            var cep = $('#id_cep').val().replace("-", "");
            var urlCep = 'https://viacep.com.br/ws/' + cep + '/json/';

            $.ajax({
                url: urlCep,
                success: function (result) {
                    $('#id_cep').val(cep);
                    $('#id_endereco').val(result.logradouro);
                    $('#id_bairro').val(result.bairro);
                    $('#id_uf').val(result.uf);
                    $('#id_cidade').val(result.localidade);
                }
            });
        });

        $("#btnBuscaCPF").click(function () {
            var cpf = $('#id_cpf').val().replace("-", "");
            var urlPeopleSoft = '{{ peoplesoftURL }}' + '/pessoa/cpf/' + cpf;

            $.ajax({
                url: urlPeopleSoft,
                success: function (result) {
                    result = result.records[0];
                    $('#id_cpf').val(cpf);
                    $('#id_nome').val(result.nome);
                    $('#id_email').val(result.email);
                    $('#id_endereco').val(result.enderecos[0].endereco);
                    $('#id_cep').val(result.enderecos[0].cep);
                    $('#id_bairro').val(result.enderecos[0].bairro);
                    $('#id_uf').val(result.enderecos[0].uf);
                    $('#id_numero').val(result.enderecos[0].numero);
                    $('#id_cidade').val(result.enderecos[0].cidade);
                    $('#id_referencia').val(result.enderecos[0].referencia);
                    $('#id_complemento').val(result.enderecos[0].complemento);

                }, error: function (result) {
                    $('#id_nome').val('');
                    $('#id_email').val('');
                    $('#id_endereco').val('');
                    $('#id_cep').val('');
                    $('#id_bairro').val('');
                    $('#id_uf').val('');
                    $('#id_numero').val('');
                    $('#id_cidade').val('');
                    $('#id_referencia').val('');
                    $('#id_complemento').val('');
                    
                }
            });
        });

        jQuery.fn.ForceNumericOnly =
            function () {
                return this.each(function () {
                    $(this).keydown(function (e) {
                        var key = e.charCode || e.keyCode || 0;
                        // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                        // home, end, period, and numpad decimal
                        return (
                            key == 8 ||
                            key == 9 ||
                            key == 13 ||
                            key == 46 ||
                            key == 110 ||
                            key == 190 ||
                            (key >= 35 && key <= 40) ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    });
                });
            };

        $("#id_cpf").ForceNumericOnly();
        $("#id_cep").ForceNumericOnly();
    });
</script>
{% endblock %}

{% block css %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .container {
        max-width: 960px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container py-2">

    <main>
        <div class="py-3 text-center">
            <h2>Carrinho de compras</h2>
        </div>

        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Seu carrinho</span>
                    <span class="badge bg-primary rounded-pill">{{ quantidade_item }}</span>
                </h4>
                <ul class="list-group mb-3">
                    {% for item in items %}
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">{{ item }}</h6>
                            <a href="{% url 'checkout:excluir_item_carrinho' item.id %}" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i>
                            </a>
                            <small class="text-muted">Qtd: {{ item.quantidade }} | Amarelo | P</small>
                        </div>
                        <span class="text-muted">R$ {{ item.produto.preco_base }}</span>
                    </li>
                    {% empty %}
                    <h3 class="text-center">Carrinho vazio</h3>
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total</span>
                        <strong>R$ {{ valor_carrinho }}</strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-7 col-lg-7">
                <h4 class="mb-3">Dados de cobrança</h4>
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    {{ form.source }}
                    <div class="row g-3">
                        <div class="col-sm-4">
                            <label for="cpf" class="form-label">CPF</label>
                            <div class="input-group">
                                {% render_field form.cpf class="form-control" placeholder="CPF ..." %}
                                <button class="btn btn-info" type="button" name="btnBuscaCPF" id="btnBuscaCPF">
                                    <b> <i class="bi bi-search"></i> </b>
                                </button>
                            </div>
                            <div class="invalid-feedback">
                                Informe um CPF válido
                            </div>
                        </div>

                        <div class="col-sm-8">
                            <label for="nome" class="form-label">Nome Completo</label>
                            {% render_field form.nome class="form-control" placeholder="Nome completo" %}
                            <div class="invalid-feedback">
                                Verifique o nome
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email </label>
                            {% render_field form.email class="form-control" placeholder="seuemail@exemplo.com" %}
                            <div class="invalid-feedback">
                                Por favor insira um email valido
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="cep" class="form-label">CEP</label>
                            {% render_field form.cep class="form-control" placeholder="Seu CEP ..." %}
                            <div class="invalid-feedback">
                                CEP obrigatório
                            </div>
                        </div>

                        <div class="col-md-7">
                            <label for="cidade" class="form-label">Cidade</label>
                            {% render_field form.cidade class="form-control" placeholder="Cidade ..." %}
                            <div class="invalid-feedback">
                                Por favor insira uma cidade
                            </div>
                        </div>

                        <div class="col-md-2">
                            <label for="uf" class="form-label">Estado</label>
                            {% render_field form.uf class="form-control" placeholder="UF ..." %}
                            <div class="invalid-feedback">
                                Informe UF
                            </div>
                        </div>

                        <div class="col-2">
                            <label for="numero" class="form-label">Numero</label>
                            {% render_field form.numero class="form-control" placeholder="numero ..." %}

                            <div class="invalid-feedback">
                                Por favor informe o numero
                            </div>
                        </div>

                        <div class="col-10">
                            <label for="bairro" class="form-label">Bairro</label>
                            {% render_field form.bairro class="form-control" placeholder="bairro ..." %}
                            <div class="invalid-feedback">
                                Por favor informe o bairro
                            </div>
                        </div>

                        <div class="col-8">
                            <label for="endereco" class="form-label">Endereço</label>
                            {% render_field form.endereco class="form-control" placeholder="endereco ..." %}
                            <div class="invalid-feedback">
                                Por favor informe o endereço
                            </div>
                        </div>

                        <div class="col-4">
                            <label for="complemento" class="form-label">Complemento</label>
                            {% render_field form.complemento class="form-control" placeholder="complemento ..." %}
                        </div>

                        <div class="col-12">
                            <label for="referencia" class="form-label">Referencia</label>
                            {% render_field form.referencia class="form-control" placeholder="referencia ..." %}
                        </div>
                    </div>

                    <hr class="my-4">
                    <a href="/" class="btn btn-secondary">Continuar Comprando</a>
                    {% if items %}
                    <button class="btn btn-primary btn-lg" type="submit">Ir para pagamento</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </main>
</div>

{% endblock %}

{% block js_footer %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}