{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container px-4 px-lg-5 mt-5">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'img/dimona/mockup/tradicional/preto.jpg' %}"
                            class="img-fluid rounded-start" alt="baby long">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Tradicional</h5>
                            <p class="card-text">Malha penteada fio 30.1. 100% algodão. Costura reforçada com acabamento
                                em viés ombro a ombro. Gola em ribana. Qualidade superior com otimo custo. Modelagem com
                                caimento reto.</p>
                            <p class="card-text"><small class="text-muted">Percentual de encolhimento pós lavagem:
                                    3.70%</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'img/dimona/mockup/babylong/preto.jpg' %}" class="img-fluid rounded-start"
                            alt="baby long">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Baby Long</h5>
                            <p class="card-text">Malha cardada fio 24.1. 100%algodão, acabamento com costura simples.
                                Modelagem mais ajustada ao corpo.</p>
                            <p class="card-text"><small class="text-muted">Percentual de encolhimento pós lavagem:
                                    3.70%</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'img/dimona/mockup/infantil/preto.jpg' %}" class="img-fluid rounded-start"
                            alt="infatil">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Infantil</h5>
                            <p class="card-text">A Camiseta Infantil traz uma malha ainda melhor para a
                                criançada brincar com mais qualidade. O tecido é 100% algodão, com costura reforçada e
                                modelagem com caimento reto. Disponível em diversas cores e tamanhos entre 2 e 14 anos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'img/dimona/mockup/ziper/branco.jpg' %}" class="img-fluid rounded-start"
                            alt="moleton ziper">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Moleton Ziper</h5>
                            <p class="card-text">O tempo esfriou? Temos a solução perfeita para você se esquentar com
                                estilo. Nossos Moletons sem Zíper são fabricados em 45%
                                algodão e 52% poliéster. Possui interior flanelado, acabamento com punho e barra
                                retilínea.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'img/dimona/mockup/blusao/preto.jpg' %}" class="img-fluid rounded-start"
                            alt="Moleton blusão">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Moletom Blusão</h5>
                            <p class="card-text">Perfeitas para um dia mais frio, as peças são fabricadas em 100%
                                algodão na cor preta, e em 85% algodão e 15% poliéster na cor cinza.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'img/dimona/mockup/canguru/preto.jpg' %}" class="img-fluid rounded-start"
                            alt="moleton canguru">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Moleton canguru</h5>
                            <p class="card-text">Malha cardada fio 24.1. 100%algodão, acabamento com costura simples.
                                Modelagem mais ajustada ao corpo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}