{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="container py-3">

    <h3> {{ cliente.user.first_name }} </h3>
    <h4>CPF: {{ cliente.cpf }}</h4>

    <div class="row">
        <div class="col-md-6">
            {% if not pedidos %}
            <h3> você não possui pedidos </h3>
            <a href="/" class="btn btn-secondary">Ir para as compras</a>
            {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Data Compra</th>
                        <th scope="col">Status</th>
                        <th scope="col">Detalhes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr>
                        <th scope="row">{{ pedido.id }}</th>
                        <td>{{ pedido.created_at }}</td>
                        <td>
                            {% for status in status_pedido %}
                                {% if status.pedido == pedido %}
                                    {{ status.evento }} <br />
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td> <a href="{% url 'pedido:pedido' pedido.id %}"> ver mais </a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>

        <div class="col-md-6">

            {{ form.source }}
            {% include "usuario/includes/card_nome_endereco.html" %}
        </div>
    </div>

</div>

{% endblock %}