{% load widget_tweaks %}

<div class="text-center" style="padding: 10px;">
    Modelo:
    <br />
    {% for modelo in modelos %}
        {% render_field form.modelo value=modelo.id id=modelo.id type="radio" class="btn-check" %}
        <label class="btn btn-outline-dark btn-sm" for="{{ modelo.id }}" onclick="this.form.reset(); modeloSelecionado('{{ modelo.modelo.descricao }}');">
            {{ modelo.modelo.descricao_cliente }} (R$ {{ modelo.modelo.valor }} )
        </label>
    {% endfor %}
</div>