{% load static %}


<script>
    function mostrarMedidaDoModeloSelecionado(modelo_slug) {
        $('.div-tabela-medidas').hide();
        $('.tabela-medida').hide();

        if (modelo_slug === "porcelana") {
            return;
        }

        $('.div-tabela-medidas').show();
        $('#' + modelo_slug).show();
        const imagemMedida = "{% static 'img/dimona/' %}" + modelo_slug + ".png";
        $('#imagem-medida-mockup').attr("src", imagemMedida);
    }
</script>


<section class="py-1">
    <div class="container px-4 px-lg-5 mt-5 text-center">
        <div class="row">
            <div class="col div-tabela-medidas">
                <img id="imagem-medida-mockup" src="" alt="tabela-medida" width="270px;" />
            </div>
            <div class="col div-tabela-medidas">

                <table class="table table-hover tabela-medida" id="ziper-unisex" >
                    <thead>
                        <tr>
                            <th scope="col">Tam</th>
                            <th scope="col">Largura (cm)</th>
                            <th scope="col">Comprimento (cm)</th>
                            <th scope="col">Manga (cm)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">P</th>
                            <td>51-54</td>
                            <td>63-67</td>
                            <td>65-67</td>
                        </tr>
                        <tr>
                            <th scope="row">M</th>
                            <td>53-57</td>
                            <td>64-68</td>
                            <td>67-69</td>
                        </tr>
                        <tr>
                            <th scope="row">G</th>
                            <td>56-60</td>
                            <td>66-70</td>
                            <td>68-70</td>
                        </tr>
                        <tr>
                            <th scope="row">GG</th>
                            <td>59-63</td>
                            <td>70-74</td>
                            <td>69-71</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-hover tabela-medida" id="canguru-unisex" >
                    <thead>
                        <tr>
                            <th scope="col">Tam</th>
                            <th scope="col">Largura (cm)</th>
                            <th scope="col">Comprimento (cm)</th>
                            <th scope="col">Manga (cm)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">P</th>
                            <td>51-54</td>
                            <td>63-67</td>
                            <td>65-67</td>
                        </tr>
                        <tr>
                            <th scope="row">M</th>
                            <td>53-57</td>
                            <td>64-68</td>
                            <td>67-69</td>
                        </tr>
                        <tr>
                            <th scope="row">G</th>
                            <td>56-50</td>
                            <td>66-70</td>
                            <td>68-70</td>
                        </tr>
                        <tr>
                            <th scope="row">GG</th>
                            <td>59-63</td>
                            <td>70-74</td>
                            <td>69-71</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-hover tabela-medida" id="cropped" >
                    <thead>
                        <tr>
                            <th scope="col">Tam</th>
                            <th scope="col">Largura (cm)</th>
                            <th scope="col">Comprimento (cm)</th>
                            <th scope="col">Manga (cm)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">P</th>
                            <td>50-54</td>
                            <td>67-71</td>
                            <td>65-67</td>
                        </tr>
                        <tr>
                            <th scope="row">M</th>
                            <td>53-57</td>
                            <td>70-74</td>
                            <td>67-69</td>
                        </tr>
                        <tr>
                            <th scope="row">G</th>
                            <td>56-60</td>
                            <td>73-77</td>
                            <td>68-70</td>
                        </tr>
                        <tr>
                            <th scope="row">GG</th>
                            <td>58-62</td>
                            <td>75-79</td>
                            <td>69-71</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-hover tabela-medida" id="blusao-unisex" >
                    <thead>
                        <tr>
                            <th scope="col">Tam</th>
                            <th scope="col">Largura (cm)</th>
                            <th scope="col">Comprimento (cm)</th>
                            <th scope="col">Manga (cm)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">P</th>
                            <td>51-54</td>
                            <td>63-67</td>
                            <td>65-67</td>
                        </tr>
                        <tr>
                            <th scope="row">M</th>
                            <td>53-57</td>
                            <td>64-68</td>
                            <td>67-69</td>
                        </tr>
                        <tr>
                            <th scope="row">G</th>
                            <td>56-60</td>
                            <td>66-70</td>
                            <td>68-70</td>
                        </tr>
                        <tr>
                            <th scope="row">GG</th>
                            <td>59-63</td>
                            <td>70-74</td>
                            <td>69-71</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-hover tabela-medida" id="classic-infantil" >
                    <thead>
                        <tr>
                            <th scope="col">Tam.</th>
                            <th scope="col">Largura (cm)</th>
                            <th scope="col">Comprimento (cm)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">2</th>
                            <td>31-34</td>
                            <td>42-45</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>33-36</td>
                            <td>46-49</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>35-38</td>
                            <td>52-55</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>36-39</td>
                            <td>54-57</td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>38-41</td>
                            <td>56-59</td>
                        </tr>
                        <tr>
                            <th scope="row">12</th>
                            <td>40-43</td>
                            <td>58-61</td>
                        </tr>
                        <tr>
                            <th scope="row">14</th>
                            <td>42-45</td>
                            <td>60-63</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-hover tabela-medida" id="baby-long" >
                    <thead>
                        <tr>
                            <th scope="col">Tam</th>
                            <th scope="col">Largura (cm)</th>
                            <th scope="col">Comprimento (cm)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">P</th>
                            <td>38-42</td>
                            <td>57-61</td>
                        </tr>
                        <tr>
                            <th scope="row">M</th>
                            <td>41-45</td>
                            <td>60-64</td>
                        </tr>
                        <tr>
                            <th scope="row">G</th>
                            <td>43-47</td>
                            <td>62-66</td>
                        </tr>
                        <tr>
                            <th scope="row">GG</th>
                            <td>45-49</td>
                            <td>63-67</td>
                        </tr>
                        <tr>
                            <th scope="row">XGG</th>
                            <td>N/A</td>
                            <td>N/A</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-hover tabela-medida" id="tshirt" >
                    <thead>
                        <tr>
                            <th scope="col">Tam</th>
                            <th scope="col">Largura (cm)</th>
                            <th scope="col">Comprimento (cm)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">P</th>
                            <td>46-50</td>
                            <td>65-69</td>
                        </tr>
                        <tr>
                            <th scope="row">M</th>
                            <td>48-52</td>
                            <td>67-71</td>
                        </tr>
                        <tr>
                            <th scope="row">G</th>
                            <td>53-57</td>
                            <td>69-73</td>
                        </tr>
                        <tr>
                            <th scope="row">GG</th>
                            <td>56-60</td>
                            <td>72-76</td>
                        </tr>
                        <tr>
                            <th scope="row">XGG</th>
                            <td>59-63</td>
                            <td>73-77</td>
                        </tr>
                    </tbody>
                </table>

                <p> Encolhimento pós lavagem 3,50% </p>
            </div>
        </div>
    </div>
</section>