{% load widget_tweaks %}

{% block js_header %}
    <script>
        const tamanho_modelo_dict = {{ tamanho_modelo_dict|safe }};

        function escondeTamanhos() {
            for (const [key, tamanhos] of Object.entries(tamanho_modelo_dict)) {
                for (let tamanho = 0; tamanho < tamanhos.length; tamanho++) {
                    const element = tamanhos[tamanho];
                    
                    let elementRadio = "#" + element;
                    let elementLabel = "#label-" + element;
        
                    $(elementRadio).hide();
                    $(elementLabel).hide();            
                }            
            }
        }
    
        function mostrarTamanhosDoModelo(e) {
            escondeTamanhos();
            for (const [key, tamanhos] of Object.entries(tamanho_modelo_dict)) {
                for (let tamanho = 0; tamanho < tamanhos.length; tamanho++) {
                    const element = tamanhos[tamanho];
                    
                    let elementRadio = "#" + element;
                    let elementLabel = "#label-" + element;
    
                    if (e === key) {
                        $(elementRadio).show();
                        $(elementLabel).show();
                    }
                }            
            }
        }
    </script>
{% endblock %}

<div class="text-center">
    Selecione o tamanho:
    <br />

    {% for tamanho in tamanhos %}
        {% render_field form.tamanho value=tamanho.slug id=tamanho.slug type="radio" class="btn-check"%}
        <label id="label-{{ tamanho.slug }}" class="btn btn-outline-danger" for="{{ tamanho.slug }}">
            {{ tamanho.descricao_cliente }}
        </label>
    {% endfor %}
</div>