<div class="card-body">
    <div class="text-center">
        <h4>Clique numa <span class="badge bg-success"><i class="bi bi-app"></i> categoria</span> abaixo</h4>

        {% for categoria in subcategorias %}
        <a style="margin-top: 4px;" href="{% url 'catalogo:lista_por_subcategoria' categoria.slug %}"
            class="btn btn-outline-secondary btn-sm">
            <i class="fas fa-{{ categoria.icone_fontawesome }}"></i> {{ categoria.nome }}
        </a>
        {% empty %}
        <h3>Nenhuma categoria cadastrada</h3>
        {% endfor %}
    </div>
</div>