{% extends "base.html" %}

{% block content %}

{% include 'includes/_header.html' %}

<div class="row">
    <div class="p-5 mb-5 bg-light rounded-2">
        <div class="container-fluid py-3">
            <h1 class="display-5 fw-bold">Like Estampa</h1>
            <p class="col-md-8 fs-4">Estamparia de camisetas para todo o publico.</p>
            <p class="col-md-8">
                Contato: (35) 99999-7619
                <br />
                Email: likeestampa@gmail.com
            </p>
        </div>
    </div>
</div>
{% endblock %}