{% extends "base.html" %}

{% block css %}
    <style>
        .btn-genero:hover {
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
<!-- Header-->
{% include 'includes/_header.html' %}

{% include 'includes/_categorias.html' %}
<br />

<div class="row p-3">
    <div class="col">
        {% include 'includes/_pesquisa.html' %}
    </div>
    <div class="col-md-auto">
        {% if frete %}
        <h6>Menor preço frete <span class="badge bg-primary">R$ {{ frete }}</span></h6>
        {% else %}
        <form class="input-group mb-3">
            <input type="number" name="frete" id="frete" class="form-control" placeholder="Digite seu CEP ..."
                aria-label="Digite seu CEP ..." aria-describedby="frete">
            <button class="btn btn-primary" type="submit"> Aplicar CEP <i class="fas fa-map-marked"></i></button>
        </form>
        {% endif %}
    </div>
</div>


{% load static %}

<div class="text-center">
    <h3>Selecione o Gênero</h3>
</div>
<div class="d-flex justify-content-center text-center">

    <div class="col-md-auto">
        <a href="{% url 'catalogo:produto_masculino' %}">
            <img src="{% static 'homem.jpg' %}" alt="homem" width="95%" class="btn-genero"/>
        </a>
        <h3 class="text-center">Masculino</h3>
    </div>

    <div class="col-md-auto">
        <a href="{% url 'catalogo:produto_feminino' %}">
            <img src="{% static 'mulher.jpg' %}" alt="mulher" width="95%" class="btn-genero"/>
        </a>
        <h3 class="text-center">Feminino</h3>
    </div>

</div>



{% include "catalogo/produtos.html" %}

{% endblock %}