{% extends "base.html" %}

{% block content %}
<!-- Header-->
{% include 'includes/_header.html' %}

{% include 'includes/_categorias.html' %}
<br />
<div class="row">
    <div class="row justify-content-md-center">
        <div class="col col-5">
            {% include 'includes/_pesquisa.html' %}
        </div>
        <div class="col-md-auto">
            {% if frete %}
                <h6>Menor preço frete <span class="badge bg-primary">R$ {{ frete }}</span></h6>
            {% else %}
                <form class="input-group mb-3">
                    <input type="number" name="frete" id="frete" class="form-control" placeholder="Digite seu CEP ..."
                        aria-label="Digite seu CEP ..." aria-describedby="frete">
                    <button class="btn btn-primary" type="submit">Aplicar</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% include "catalogo/produtos.html" %}

{% endblock %}