{% extends "base.html" %}

{% block content %}
<div class="container py-3">
    <div class="row">

        <div class="col-md-5 col-lg-5 order-md-last">
            <h1>Status do pedido #{{ pedido.id }}</h1>
            <h3>Valor: R$ {{ valor_pedido }} :
                {% if pedido.pago %}
                <label class="text-success"> Pago </label>
                {% else %}
                <label class="text-warning"> Aguardando pagamento </label>
                {% endif %}
            </h3>

            <p>
                Parcelas: {{ pagamento_mp.installments }} <br />
                Cartão: {{ pagamento_mp.payment_method_id }} <br />
                Data compra: {{ pedido.created_at }}
            </p>

            <br />

            {% include "pagamento/includes/for_items.html" %}
        </div>

        <div class="col-md-5 col-lg-5 order-md-last">
            <h1>Eventos do pedido</h1>
        </div>
    </div>
</div>
{% endblock %}