{% extends "base.html" %}

{% block content %}

{% include 'includes/_header.html' %}

<div class="row">
    <div class="p-5 mb-5 bg-light rounded-2">
        <div class="container-fluid py-3">
            <h1 class="display-5 fw-bold">Like Estampa</h1>
            <div class="row mb-2">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Localização</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Cidade: Franca - SP</li>
                                <li>CEP: 14408-114</li>
                                <li>Av Dr. Severino Marcio Pereira Meirelles, 1480, AP11</li>
                                <li>Bairro:Jardim João Liporoni</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="display-5 fw-bold">Quem somos</h2>
            <div class="row mb-2">
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Programador</strong>
                            <h3 class="mb-0">Leonardo Cintra</h3>
                            <div class="mb-1 text-muted">31 anos</div>
                            <p class="card-text mb-auto">Ola, sou programador do site e também trabalho no Magazine
                                Luiza</p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                    fill="#eceeef" dy=".3em">Foto Leonardo</text>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">Design</strong>
                            <h3 class="mb-0">Juliana Cintra</h3>
                            <div class="mb-1 text-muted">27 anos</div>
                            <p class="mb-auto">Esposa do Leonardo, mãe de 3 filhos e sou eu que escolho as imagens e
                                ajudo nas vendas</p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                    fill="#eceeef" dy=".3em">Foto Juliana</text>
                            </svg>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}