{% extends "base.html" %}

{% block content %}

{% include 'includes/_header.html' %}

<div class="row">
    <div class="p-5 mb-5 bg-light rounded-2">
        <div class="container-fluid py-3">
            <h1 class="display-5 fw-bold">Termos de Uso</h1>
            <div class="col-md-12">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    ESTES TERMOS DE SERVIÇO REGULAM O USO DESTE SITE. AO ACESSÁ-LO VOCÊ CONCORDA COM ESTES TERMOS.
                    POR FAVOR, CONSULTE REGULARMENTE OS NOSSOS TERMOS DE SERVIÇO.
                </h3>

                <article class="blog-post">
                    <h2 class="blog-post-title">Termos </h2>
                    <p>
                        O website Like Estampa é um serviço interativo oferecido em por meio de página eletrônica na
                        internet que oferece Like Estampa (camisetas estampadas via dropshipping) a partir da
                        integração de diversas fontes de informação.
                        O acesso ao Like Estampa representa a aceitação expressa e irrestrita dos termos de uso abaixo
                        descritos.
                    </p>
                    <p>
                        Se você não concorda com os termos, por favor, não acesse nem utilize este website.
                    </p>

                    <p>
                        O visitante poderá usar este site apenas para finalidades lícitas. Este espaço não poderá
                        ser
                        utilizado para para publicar, enviar, distribuir ou divulgar conteúdos ou informação de
                        caráter
                        difamatório, obsceno ou ilícito, inclusive informações de propriedade exclusiva pertencentes
                        a
                        outras pessoas ou empresas, bem como marcas registradas ou informações protegidas por direitos
                        autorais, sem a expressa autorização do detentor desses direitos.

                    </p>

                    <p>
                        Ainda, o visitante não poderá
                        usar o site Like Estampa para obter ou divulgar informações pessoais, inclusive endereços na
                        Internet, sobre os usuários do site.
                    </p>

                    <p>
                        O Like Estampa empenha-se em manter a qualidade, atualidade e autenticidade das informações do
                        site, mas seus criadores e colaboradores não se responsabilizam por eventuais falhas nos
                        serviços ou inexatidão das informações oferecidas.

                        O usuário não deve ter como pressuposto que tais serviços e informações são isentos de
                        erros ou serão adequados aos seus objetivos particulares.
                        Os criadores e colaboradores tampouco assumem o compromisso de atualizar as informações, e
                        reservam-se o direito de alterar as condições de uso ou preços dos serviços e produtos
                        oferecidos no site a qualquer momento.
                    </p>

                    <p>
                        O acesso ao site LIKE ESTAMPA é gratuito. A LIKE ESTAMPA poderá criar áreas de acesso exclusivo aos
                        seus clientes ou para terceiros especialmente autorizados.
                    </p>

                    <p>
                        Os criadores e colaboradores do LIKE ESTAMPA poderão a seu exclusivo critério e em qualquer tempo,
                        modificar ou desativar o site, bem como limitar, cancelar ou suspender seu uso ou o acesso.
                        Também estes Termos de Uso poderão ser alterados a qualquer tempo. Visite regularmente esta
                        página e consulte os Termos então vigentes. Algumas disposições destes Termos podem ser
                        substituídas por termos ou avisos legais expressos localizados em determinadas páginas deste
                        site.
                    </p>

                    <h2 class="blog-post-title">Erros e falhas </h2>

                    <p>
                        Os documentos, informações, imagens e gráficos publicados neste site podem conter
                        imprecisões técnicas ou erros tipográficos. Em nenhuma hipótese LIKE ESTAMPA e/ou seus
                        respectivos fornecedores serão responsáveis por qualquer dano direto ou indireto decorrente da
                        impossibilidade de uso, perda de dados ou lucros, resultante do acesso e desempenho do site, dos
                        serviços oferecidos ou de informações disponíveis neste site. O acesso aos serviços,
                        materiais, informações e facilidades contidas neste website não garante a sua qualidade.
                    </p>

                    <h2 class="blog-post-title">LIMITAÇÃO DA RESPONSABILIDADE</h2>

                    <p>
                        Os materiais são fornecidos neste website sem nenhuma garantia explicita ou implícita de
                        comercialização ou adequação a qualquer objetivo específico. Em nenhum caso a LIKE ESTAMPA ou
                        os seus colaboradores serão responsabilizados por quaisquer danos, incluindo lucros cessantes,
                        interrupção de negócio, ou perda de informação que resultem do uso ou da incapacidade de
                        usar os materiais. A LIKE ESTAMPA não garante a precisão ou integridade das informações, textos,
                        gráficos, links e outros itens dos materiais.
                    </p>

                    <p>
                        A LIKE ESTAMPA não se responsabiliza pelo conteúdo dos artigos e informações aqui publicadas,
                        uma vez que os textos são de autoria de terceiros e não traduzem, necessariamente, a opinião
                        do website.
                    </p>

                    <p>
                        A LIKE ESTAMPA tampouco é responsável pela violação de direitos autorais decorrente de
                        informações, documentos e materiais publicados nesta website, comprometendo-se a retirá-los
                        do ar assim que notificado da infração.
                    </p>

                    <h2 class="blog-post-title">INFORMAÇÕES ENVIADAS PELOS USUÁRIOS E COLABORADORES</h2>

                    <p>
                        Qualquer material, informação, artigos ou outras comunicações que forem transmitidas,
                        enviadas ou publicadas neste site serão considerados informação não confidencial, e qualquer
                        violação aos direitos dos seus criadores não será de responsabilidade do LIKE ESTAMPA.
                    </p>

                    <p>
                        É
                        terminantemente proibido transmitir, trocar ou publicar, através deste website, qualquer
                        material de cunho obsceno, difamatório ou ilegal, bem como textos ou criações de terceiros
                        sem a autorização do autor. A LIKE ESTAMPA reserva-se o direito de restringir o acesso as
                        informações enviadas por terceiros aos seus usuários.
                    </p>

                    <p>
                        A LIKE ESTAMPA poderá, mas não é obrigado, a monitorar, revistar e restringir o acesso a qualquer
                        área no site onde usuários transmitem e trocam informações entre si, incluindo, mas não
                        limitado a salas de chat, centro de mensagens ou outros fóruns de debates, podendo retirar do
                        ar ou retirar o acesso a qualquer destas informações ou comunicações. Porém, a LIKE ESTAMPA
                        não é responsável pelo conteúdo de qualquer uma das informações trocadas entre os
                        usuários, sejam elas lícitas ou ilícitas.
                    </p>

                    <p>
                        Ao realizar a compra o cliente autoriza o uso de seus dados na aquisição, intermediação e
                        envio de bens materiais.
                    </p>

                    <h2 class="blog-post-title">LINKS PARA SITES DE TERCEIROS</h2>

                    <p>
                        Os sites apontados não estão sob o controle do LIKE ESTAMPA que não é responsável pelo
                        conteúdo de qualquer outro website indicado ou acessado por meio do LIKE ESTAMPA reserva-se o
                        direito de eliminar qualquer link ou direcionamento a outros sites ou serviços a LIKE ESTAMPA não
                        endossa firmas ou produtos indicados, acessados ou divulgados através deste website, tampouco
                        pelos anúncios aqui publicados, reservando-se o direito de publicar este alerta em suas
                        páginas eletrônicas sempre que considerar necessário.
                    </p>

                    <h2 class="blog-post-title">DIREITOS AUTORAIS E PROPRIEDADE INTELECTUAL</h2>

                    <p>
                        Os documentos, conteúdos e criações contidos neste website pertencem aos seus criadores e
                        colaboradores. A autoria dos conteúdo, material e imagens exibidos no LIKE ESTAMPA é protegida por
                        leis nacionais e internacionais. Não podem ser copiados, reproduzidos, modificados, publicados,
                        atualizados, postados, transmitidos ou distribuídos de qualquer maneira sem autorização
                        prévia e por escrito do LIKE ESTAMPA.
                    </p>

                    <p>
                        As imagens contidas neste website são aqui incorporadas apenas para fins de visualização, e,
                        salvo autorização expressa por escrito, não podem ser gravadas ou baixadas via download. A
                        reprodução ou armazenamento de materiais recuperados a partir deste serviço sujeitará os
                        infratores às penas da lei. O nome do site LIKE ESTAMPA, seu logotipo, o nome de domínio para
                        acesso na Internet, bem como todos os elementos característicos da tecnologia desenvolvida e
                        aqui apresentada, sob a forma da articulação de bases de dados, constituem marcas registradas
                        e propriedades intelectuais privadas e todos os direitos decorrentes de seu registro são
                        assegurados por lei. Alguns direitos de uso podem ser cedidos por LIKE ESTAMPA em contrato ou
                        licença especial, que pode ser cancelada a qualquer momento se não cumpridos os seus termos.
                    </p>

                    <p>
                        As marcas registradas do LIKE ESTAMPA só podem ser usadas publicamente com autorização expressa.
                        O uso destas marcas registradas em publicidade e promoção de produtos deve ser adequadamente
                        informado.
                    </p>

                    <h2 class="blog-post-title">RECLAMAÇÕES SOBRE VIOLAÇÃO DE DIREITOS AUTORAIS</h2>

                    <p>
                        A LIKE ESTAMPA respeita a propriedade intelectual de outras pessoas ou empresas e solicitamos aos nossos membros que façam o mesmo.
                    </p>

                    <p>
                        Toda e qualquer violação de direitos autorais deverá ser notificada ao LIKE ESTAMPA e acompanhada dos documentos e informações que confirmam a autoria. A notificação poderá ser enviada pelos e-mails constantes do site ou via postal para o endereço do sit
                    </p>

                    <h2 class="blog-post-title">RECLAMAÇÕES SOBRE VIOLAÇÃO DE DIREITOS AUTORAIS</h2>

                    <p>
                        Este site é controlado e operado pelo LIKE ESTAMPA e não garante que o conteúdo ou materiais estejam disponíveis para uso em outras localidades. Seu acesso é proibido em territórios onde o conteúdo seja considerado ilegal. 
                    </p>

                    <p>
                        Aqueles que optarem por acessar este site a partir de outras localidades o farão por iniciativa própria e serão responsáveis pelo cumprimento das leis locais aplicáveis. Os materiais não deverão ser usados ou exportados em descumprimento das leis brasileiras sobre exportação. 
                    </p>

                    <p>
                        Qualquer pendência com relação aos materiais será dirimida pelas leis brasileiras. O acesso ao LIKE ESTAMPA representa a aceitação expressa e irrestrita dos termos de uso acima descritos.
                    </p>

                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}