{% extends "base.html" %}

{% block content %}

{% include 'includes/_header.html' %}

<div class="row">
    <div class="p-5 mb-5 bg-light rounded-2">
        <div class="container-fluid py-3">
            <h1 class="display-5 fw-bold">Troca e Cancelamento</h1>
            <div class="col-md-12">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Qualquer duvida pode nos chamar no <a href="https://wa.me/message/X45SNP5DPVQ5O1">Whatsapp</a>
                </h3>

                <article class="blog-post">
                    <h2 class="blog-post-title">Não ficou satisfeito? </h2>
                    <p>
                        Aqui no Like Estampa, queremos clientes satisfeitos.
                        Queremos que os produtos causem uma comoção geral de felicidade ao chegar em sua casa para você
                        voltar sempre.
                    </p>
                    <p>
                        Se por algum motivo você ficar decepcionado com a sua compra, faremos o possível para resolver
                        seu problema, seguindo algumas regrinhas simples de trocas, devoluções e reembolsos.
                    </p>
                    <hr>
                    <h2>Arrependimento e desistência</h2>
                    <p>É uma pena ...</p>
                    <p>
                        No caso de trocas e devoluções por arrependimento ou desistência, quando o produto está́ em
                        perfeitas condições, porém não agrada ao cliente, este terá́ o prazo de 7 (sete) dias, contados
                        a partir da data de recebimento da mercadoria, para fazer a solicitação de devolução por
                        contato no Whatsapp ou por e-mail.
                    </p>
                    <h3>Procedimentos para cancelamento ou arrependimento</h3>
                    <p>And this is an ordered list:</p>
                    <ol>
                        <li>Entrar em contato conosco no email ou Whatsapp</li>
                        <li>Enviar o produto pelos Correios, com porte pago pelo cliente, para o endereço do remetente
                            (Like Estampa).
                            Importante: o produto deverá estar em sua embalagem original, sem indícios de uso, sem
                            violação do lacre, quando existente, acompanhado de todos os acessórios que possui.</li>
                    </ol>
                    <p>A partir do recebimento do produto e confirmação das condições acima pela SUA LOJA, você
                        poderá optar por:</p>

                    <dl>
                        <dt>Vale compra</dt>
                        <dd>Recebimento de um crédito no Like Estampa no valor total pago, que poderá ser utilizado
                            para compra de outro produto imediatamente, ou em uma compra futura, com validade de 6
                            meses.</dd>
                        <dt>Dinheiro de volta</dt>
                        <dd>Restituição do valor do produto, pelo mesmo meio de pagamento utilizado no momento da
                            compra.</dd>
                    </dl>

                    <h2>Pedido em transito</h2>
                    <p>Caso o pedido já́ tenha sido enviado e é solicitado o cancelamento, o cliente deverá esperar o
                        produto chegar, enviar o mesmo para o endereço indicado pela empresa e assim será realizada a
                        devolução do valor pago.</p>
                    <h3>Mas atenção ...</h3>
                    <p>Like Estampa isenta-se da obrigação de trocar qualquer produto cujo defeito tenha sido ocasionado
                        por mau uso, ou atender solicitações fora dos prazos mencionados.</p>
                    <p>Disponibilizamos as medidas em centímetros de nossos produtos para não haver erro na escolha do
                        tamanho. Segundo o Código de Defesa do Consumidor - Artigo 18, não existe a obrigação legal do
                        lojista de realizar trocas por motivos de arrependimento do consumidor quanto à cor, tamanho,
                        modelo, ou qualquer outra hipótese. O direito assegurado ao cliente pelo código de defesa do
                        consumidor é o de realizar trocas apenas em caso de produtos com defeito.</p>
                </article>

                <article class="blog-post">
                    <h2 class="blog-post-title">Outras ocorrências:</h2>

                    <p>Todas as ocorrências descritas acima, e ainda outras que possam ser identificadas, deverão ser
                        comunicadas a Like Estampa por Whatsapp ou através do e-mail likeestampa@gmail.com</p>
                    <blockquote>
                        <p>Produtos devolvidos sem essa comunicação, fora do prazo ou com ausência de
                            itens/acessórios que o acompanhem, <strong> poderão ser reenviados sem consulta prévia.</strong>
                        </p>
                    </blockquote>
                    <p>Além das ocorrências mencionadas, se ocorrer qualquer das hipóteses abaixo, o recebimento do produto deve ser recusado.</p>
                    <ol>
                        <li>Embalagem aberta ou avariada;</li>
                        <li>Produto avariado;</li>
                        <li>Produto em desacordo com o pedido;</li>
                        <li>Embalagem aberta ou avariada;</li>
                        <li>Falta de acessórios ou quantidade errada</li>
                    </ol>

                    <p>Se, ainda assim, você receber o produto, por favor, entre em contato conosco em até 72 hs contadas a partir do recebimento esperamos ter esclarecido suas dúvidas! </p>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}