{% extends "base.html" %}

{% load widget_tweaks %}


{% block css %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .container {
        max-width: 960px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container py-2">

    <form method="post" class="needs-validation" novalidate>
        <main>
            <div class="py-3 text-center">
                <h2>Carrinho de compras</h2>
            </div>

            <div class="row g-3">
                <div class="col-md-5 col-lg-5 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Seu carrinho</span>
                        <span class="badge bg-primary rounded-pill">{{ quantidade_item }}</span>
                    </h4>
                    <ul class="list-group mb-3">
                        {% for item in items %}
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">
                                    {{ item }}
                                    <a href="{% url 'catalogo:produto' item.produto.slug %}">
                                        <i class="bi bi-arrow-up-right-circle-fill"></i>
                                    </a>
                                </h6>
                                <a href="{% url 'checkout:excluir_item_carrinho' item.id %}"
                                    class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash"></i>
                                </a>
                                <small class="text-muted">
                                    Qtd: {{ item.quantidade }} |
                                    {{ item.cor.tipo_variacao }} |
                                    {{ item.tamanho.tipo_variacao }}
                                </small>
                            </div>
                            <span class="text-muted">R$ {{ item.produto.preco_base }}</span>
                        </li>
                        {% empty %}
                        <h3 class="text-center">Carrinho vazio</h3>
                        {% endfor %}
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total</span>
                            <strong>R$ {{ valor_carrinho }}</strong>
                        </li>
                    </ul>


                    {% if frete_items %}
                        <h4 class="text-center"> <small> Frete CEP </small>{{ cep_padrao }} </h4>
                        {% for frete in frete_items %}
                        <div class="form-check">
                            {{ form_frete.source }}
                            {% if forloop.first %}
                                {% render_field form_frete.delivery_method_id value=frete.delivery_method_id id=frete.delivery_method_id type="radio" class="form-check-input" checked=checked %}
                            {% else %}
                                {% render_field form_frete.delivery_method_id value=frete.delivery_method_id id=frete.delivery_method_id type="radio" class="form-check-input" %}
                            {% endif %}
                            <label class="form-check-label" for="flexRadioDefault1">
                                <b>R$ {{ frete.value }} </b>| {{ frete.business_days }} dias uteis ({{ frete.name }})
                            </label>
                        </div>
                        {% endfor %}
                    {% else %}
                        <label>Valor do frete apos cadastro</label>
                    {% endif %}
                    <hr />
                </div>
                <div class="col-md-7 col-lg-7">
                    <h4 class="mb-3">Dados de cobrança</h4>
                    {% if user.is_authenticated %}
                    {% csrf_token %}
                    {{ form.source }}

                    {% include "usuario/includes/card_nome_endereco.html" %}

                    <hr class="my-4">
                    <a href="/" class="btn btn-secondary">Continuar Comprando</a>
                    {% if items %}
                    <button class="btn btn-primary btn-lg" type="submit">Ir para pagamento</button>
                    {% endif %}
                    {% else %}
                    <h2>
                        <a href="{% url 'account_login' %}">Entrar </a> |
                        <a href="{% url 'account_signup' %}">Fazer cadastro</a>
                    </h2>
                    {% endif %}
                </div>
            </div>
        </main>
    </form>
</div>

{% endblock %}

{% block js_footer %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}