{% extends "base.html" %}

{% load static %}

{% load widget_tweaks %}

{% load cloudinary %}

{% block js_header %}
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
    $(document).ready(function () {
        $('.img-mockup').width(75);
        $('#btnAddCarrinhoSpinner').hide();
    });
    
    const mockups = {{ mockups|safe }};
    
    function mostrarMockupSelecionado(e) {
        for (const [key, value] of Object.entries(mockups)) {
            if (parseInt(key) === parseInt(e.id)) {
                $("#imagemModelo").attr("src", e.src);
                $('.img-mockup').width(75);
            }
        }
    }

    function modeloSelecionado(element) {
        // cor padrao de todos os modelos seria branco
        $('#cor-selecionada').text('Branco');


        // catalogo/includes/_tamanhos.html
        mostrarTamanhosDoModelo(element);
        // catalogo/includes/_cores.html
        mostrarCoresDoModelo(element);
    }
</script>
{% endblock js_header %}

{% block content %}

{% include 'includes/_categorias.html' %}

<section class="py-2">
    <div class="container px-4 px-lg-5 my-5">
        <form method="post">
            {% csrf_token %}

            {{ form.source }}

            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6 text-center">
                    {% cloudinary produto.imagem_principal quality="auto:low" id="imagemModelo" class="card-img-top mb-5 mb-md-0" %}
                    <div style="padding-top: 10px;">
                        {% for imagem in imagens %}
                            {% if forloop.first %}
                                {% cloudinary produto.imagem_principal id=imagem.id quality="auto:low" class="rounded img-mockup" onclick="mostrarMockupSelecionado(this)" %}
                            {% endif %}
                            {% cloudinary imagem.imagem quality="auto:low" id=imagem.id onclick="mostrarMockupSelecionado(this)" class="rounded img-mockup" %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="small mb-1 text-muted">SKU: {{ produto.id }}</div>
                    <h1 class="display-4 fw-bolder">{{ produto.nome }}</h1>
                    <p class="display-10 fw-bolder">Categoria: {{ produto.subcategoria }}</p>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through">R$59.90</span>
                        <span>R$ {{ produto.preco_base }}</span>
                    </div>
                    <p class="lead">{{ produto.descricao|linebreaks }}</p>
                    <div class="fs-5 mb-2">
                        
                        {% include 'catalogo/includes/_modelos.html' %}

                        {% include 'catalogo/includes/_cores.html' %}

                        {% include 'catalogo/includes/_tamanhos.html' %}
                        
                        <br />
                        <i>Tabela de medidas no final da pagina</i>
                    </div>
                    <div class="d-flex">
                        {% if modelos %}
                            {% render_field form.quantidade style="max-width: 4rem" class="form-control text-center me-2" %}
                            
                            <button id="btnAddCarrinho" type="submit" class="btn btn-outline-dark flex-shrink-0" onclick="adicionarCarrinhoSpinner()">
                                <i class="bi-cart-fill me-1"></i> Adicionar ao carrinho
                            </button>

                            <button id="btnAddCarrinhoSpinner" class="btn btn-outline-dark" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Adicionando item ...
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Produtos relacionados</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for produto in produtos_relacionados %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                        novidade!
                    </div>
                    <!-- Product image-->
                    {% cloudinary produto.imagem_principal quality="auto:low" class="card-img-top" %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ produto.nome }}</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">R$ 59,90</span>
                            R$ {{ produto.preco_base }}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="{% url 'catalogo:produto' produto.slug %}">Comprar</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="py-1">
    <div class="container px-4 px-lg-5 mt-5 text-center">
        <img src="{% static 'img/tabela-medidas.png' %}" class="img-thumbnail" alt="Tabela medidas">
    </div>
</section>

{% endblock %}

{% block js_footer %}
<script>
    escondeTamanhos();
    escondeCores();

    function adicionarCarrinhoSpinner() {
        $('#btnAddCarrinho').hide();
        $('#btnAddCarrinhoSpinner').show();
    }
</script>
{% endblock %}