{% extends "base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block js_header %}
<script>
    $(document).ready(function () {
        $('.img-mockup').width(75);
        $('#btnAddCarrinhoSpinner').hide();
    });
    
    const mockups = {{ mockups|safe }};

    const dados_modelo = {{ dados_modelo|safe }}
    
    function mostrarMockupSelecionado(e) {
        for (const [key, value] of Object.entries(mockups)) {
            if (parseInt(key) === parseInt(e.id)) {
                $("#imagemModelo").attr("src", e.src);
                $('.img-mockup').width(75);
            }
        }
    }

    function modeloSelecionado(element) {
        // cor padrao de todos os modelos seria branco
        $('#cor-selecionada').text('Branco');

        $('#btnAddCarrinho').show();
        $('#btnAddCarrinhoSpinner').hide();


        // catalogo/includes/_tamanhos.html
        mostrarTamanhosDoModelo(element);
        // catalogo/includes/_cores.html
        mostrarCoresDoModelo(element);
    }
</script>
{% endblock js_header %}

{% block content %}

{% include 'includes/_categorias.html' %}

<section class="py-2">
    <div class="container px-4 px-lg-5 my-5">
        <form method="post">
            {% csrf_token %}

            {{ form.source }}

            <div class="row gx-4 gx-lg-5 align-items-center">
                
                {% include 'catalogo/includes/_mockup.html' %}

                <div class="col-md-6">
                    <div class="small mb-1 text-muted">SKU: {{ produto.id }}</div>
                    <h1 class="display-4 fw-bolder">{{ produto.nome }}</h1>
                    <p class="display-10 fw-bolder">Categoria: {{ produto.subcategoria }}</p>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through">R$59.90</span>
                        <span>R$ {{ produto.preco_base }}</span>
                    </div>
                    <p class="lead">{{ produto.descricao|linebreaks }}</p>
                    <div class="fs-5 mb-2">
                        
                        {% include 'catalogo/includes/_tipo_produto.html' %}

                        {% include 'catalogo/includes/_modelos.html' %}

                        {% include 'catalogo/includes/_cores.html' %}

                        {% include 'catalogo/includes/_tamanhos.html' %}
                        
                        <br />
                        <i>Tabela de medidas no final da pagina</i>
                    </div>
                    <div class="d-flex">
                        {% if modelos %}
                            {% render_field form.quantidade style="max-width: 4rem" class="form-control text-center me-2" %}
                            
                            <button id="btnAddCarrinho" type="submit" class="btn btn-outline-dark flex-shrink-0" onclick="adicionarCarrinhoSpinner()">
                                <i class="bi-cart-fill me-1"></i> Adicionar ao carrinho
                            </button>

                            <button id="btnAddCarrinhoSpinner" class="btn btn-outline-dark" type="submit" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Adicionando item ...
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% include 'catalogo/includes/_produtos_relacionados.html' %}

<section class="py-1">
    <div class="container px-4 px-lg-5 mt-5 text-center">
        <img src="{% static 'img/tabela-medidas.png' %}" class="img-thumbnail" alt="Tabela medidas">
    </div>
</section>

{% endblock %}

{% block js_footer %}
<script>
    escondeModelos();
    escondeTamanhos();
    escondeCores();

    function adicionarCarrinhoSpinner() {
        $('#btnAddCarrinho').hide();
        $('#btnAddCarrinhoSpinner').show();
    }
</script>
{% endblock %}