{% load mathfilters %}

{% load cloudinary %}

{% for item in items %}
<div class="card mb-3" style="max-width: 540px;">        
    <div class="row g-0">
        <div class="col-md-4">
            {% if item.cor.imagem %}
                {% cloudinary item.cor.imagem class="img-fluid rounded-start" quality="auto:low" alt=item %}
            {% else %}
                {% cloudinary item.modelo_produto.produto.imagem_principal class="img-fluid rounded-start" quality="auto:low" alt=item %}
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ item }}</h5>
                <p class="card-text">
                    <small class="text-muted">Codigo do produto: #{{ item.produto.id }} </small>
                </p>
                <p class="card-text">
                    R$ <mark>{{ item.modelo_produto.modelo.valor|mul:item.quantidade }}</mark>
                    <br />
                    Modelo: <mark>{{ item.modelo_produto.modelo.descricao_cliente }}</mark>
                    <br />
                    Quantidade: <b> {{ item.quantidade }} </b>
                    <br />
                    Tamanho: <b>{{ item.tamanho }} </b>
                    <br />
                    Cor: 
                    <span class="border border-primary" style="background-color: {{ item.cor.valor }}">
                        &nbsp; &nbsp; &nbsp; 
                    </span>  &nbsp;
                    <b> {{ item.cor }} </b>
                    <br />
                </p>
            </div>
        </div>
    </div>
</div>
<br />
{% endfor %}