<div class="card">
    <div class="card-body">
        <h5 class="card-title">Seus dados</h5>
        <h6 class="card-subtitle mb-2 text-muted">CPF: {{ cliente.cpf }}</h6>
        <p class="card-text">
            Nome:<b> {{ cliente.user.first_name }} </b> <br />
            Sobrenome:<b> {{ cliente.user.last_name }} </b> <br />
            Email:<b> {{ cliente.user.email }}</b> <br />
            Telefone: {{ cliente.telefone }}
        </p>
        {% comment %} <a href="{% url 'usuario:cliente_update' cliente.id %}" class="card-link">Alterar</a> {% endcomment %}
        {% comment %} <a href="#" class="card-link">Alterar senha</a> {% endcomment %}
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Endereços</h5>
        {% for endereco in enderecos %}
            <h6 class="card-subtitle mb-2 text-muted">CEP: {{ endereco.cep }}</h6>
            <p class="card-text">
                Cidade: <b>{{ endereco.cidade }} - {{ endereco.uf }} </b> <br />
                Endereço: <b>{{ endereco.endereco }}, {{ endereco.numero }} </b> <br />
                Bairro: <b>{{ endereco.bairro }} </b> <br />
                Complemento: <b>{{ endereco.complemento }} </b> <br />
                Referencia: <b>{{ endereco.referencia }} </b> <br />

            </p>
        {% endfor %}
        {% comment %} <a href="#" class="card-link">Adicionar outro</a> {% endcomment %}
    </div>
</div>