<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="{{ prod.imagem_principal.url }}" alt="{{ prod.nome }}"></a>
        <div class="card-body">
            <h5 class="card-title text-center">
                {{ prod.nome }}
            </h5>
            <h5 class="text-success"">R$ 35.00</h5>
            <span class=" badge bg-danger">#{{ prod.id }}</span>
                <span class="badge bg-info">{{ prod.subcategoria }}</span>
                <p class="card-text">{{ prod.descricao }}</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-success">
                Comprar
            </button>
            <a href="{% url 'catalogo:produto' prod.slug %}" class="btn btn-warning">+ Detalhes</a>
        </div>
    </div>
</div>